body,
html,
#app {
  margin: 0;

  height: 100%;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
}

.balls-container {
  position: relative;
  height: 100vh;
  background-color: #6a6a6a;
  overflow: hidden;
}

.ballpink {
  position: absolute;
  width: 250px;
  height: 250px;
  background-color: #c549f7;
  border-radius: 50%;
  transition: transform 2s ease;
}
.ballgreen {
  position: absolute;
  width: 250px;
  height: 250px;
  background-color: #102d3d;
  border-radius: 50%;
  transition: transform 2s ease;
}
.bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(55px);
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  height: 101%;
}
.welcome-content {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  .welcome-title {
    margin-left: 5vw;
    margin-bottom: 20vh;
    font-family: "Rubik", sans-serif;
    text-align: start;

    .welcome-h1 {
      font-size: 3rem;
      font-weight: 900;
      font-style: italic;
      font-optical-sizing: auto;
      line-height: 2;
    }
    .welcome-h2 {
      font-size: 2rem;
      margin-left: 0.5rem;
      font-weight: 700;
      font-style: italic;
      font-optical-sizing: auto;
    }
  }
  .welcome-logo {
    position: absolute;
    top: 0;
    right: 1rem;
    img {
      height: 100%;
      width: 7.5rem;
      object-fit: contain;
    }
  }
  .welcome-link {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    .link-list {
      margin-left: 3rem;
      display: flex;

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;
        padding: 0.3rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        margin: 1rem;
        border-radius: 0.5rem;
        background-color: #c549f7;
      }
    }
    i {
      img {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.5rem;
      }
    }
  }
}
/* Arrow Button 
	-----------------------------------*/
.container-arrow {
  margin-top: -20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  position: absolute;
  bottom: 55px;
  left: 0;
  z-index: 10;
  width: 100%;
  padding-bottom: 15px;
  cursor: pointer;
  font-size: 12px;

  .fa-angle-down {
    color: white;
  }
}
.container-arrow:hover,
.container-arrow:focus {
  text-decoration: none;
}

/* Arrow Bouncing */
.container-arrow span {
  display: inline-block;
  font-size: 80px;
  animation: 0.7s down infinite alternate;
  -webkit-animation: 0.7s down infinite alternate;
}
/***Animation Arrow down***/
@keyframes down {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(20px);
  }
}
@-webkit-keyframes down {
  0% {
    -webkit-transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(20px);
  }
}

@media (max-width: 768px) {
  .welcome-content {
    .welcome-link {
      .link-list {
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 0;
      }
    }
  }
  .welcome-content {
    align-items: center;
    .welcome-title {
      text-align: center;
      .welcome-h1 {
        font-size: 2.5rem;
      }
      .welcome-h2 {
        font-size: 1.5rem;
        margin-left: 0;
      }
    }
  }
}
@media (max-width: 568px) {
  .welcome-content {
    justify-content: center;
  }
  .welcome-link {
    .link-list {
    }
  }
}
