
body, html, #app {
    margin: 0;
    
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
  }
  .welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    touch-action: pan-up;
    height: 100%;
    cursor: none;
    
   h1{
    width: 35rem;
   }
  }
  
 
  
  .welcome a {
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
  }
  
  .welcome canvas {
    display: block;
    position: fixed;
    z-index: -1;
    top: 0;
    color: green;
  }

  .scroll-downs {
    position: relative;
    bottom: 100px;
   
    margin: auto;
    
    width :34px;
    height: 55px;
    
  }
  .mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }
  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
  }

  @media (max-width: 768px) {
   
    .welcome {
      margin: 0;
      padding: 0;
      height: 100vh;
      display: none;
      
  }
    h1 {
      font-size: 1.7rem;
      max-width: 20rem;
    }
  }
  @media (max-width:568px) {
    
   
  
    h1 {
      font-size: 2rem;
      
    }
  }