.Unprojet{
    background-color: #fff;
    
    h2{
        color: #212121;
        padding: 5rem;
        font-size: 2.4rem;

    }
    .Unprojet-content{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-left: 3rem;
        padding-right: 3rem;
        gap: 1.5rem;
        margin-bottom: 2rem;
        
        .box{
            max-width: 20vw;
            background-color:#212121;
            padding: 2rem;
            border-radius: 1rem;
            cursor: auto;
            color: #fff;
            h3{
                padding-bottom: 2rem;
            }
        }
        .box1{
            
        }
        .box2{

        }
        .box3{

        }
        .box4{

        }
    }
}
@media (max-width: 1068px) {
   .Unprojet{

    .Unprojet-content{
        flex-direction: column;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
        .box{
            max-width: 80vw;
            margin-bottom: 1.5rem;
        }
    }
   }
  }