
.header {
  position:relative;
  text-align:center;
  background: #151515;
  ;
  color:white;
}
.flex { 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; 
  min-height:100px;
  max-height:150px;
  margin-top: 2rem;
}

.content {
  position:relative;
  height:10vh;
  text-align:center;
  background-color: white;
}



.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }

}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.gravityButton {
  display: grid;
  place-items: center;
  width: 192px;
  aspect-ratio: 1;
  border-radius: 50%;
  
  
  & > button {
    font: inherit;
    width: 64px;
    aspect-ratio: 1;
    background: none;
    border-radius: 50%;
    border: 2px solid black;
    transform: translate(var(--tx, 0), var(--ty, 0));
    opacity: var(--opacity, 0.25);
    cursor: pointer;
    transition: all 0.2s ease-out;
    
    &:hover, &:focus-visible {
      --_fill: var(--color, black);
    }
    
    &:focus-visible {
      outline: 2px solid black;
      outline-offset: 2px;
      opacity: 1;
    }
  }
}

.buttonIcon {
  width: 50%;
  fill: var(--_fill, black);
  transition: fill 0.3s;
}
